{{ define "main" }}

<main aria-role="main"> 


  <div class="content"> 
    <div class="index-content framed">
      <h1 id="hello-there">Hello there!</h1>
      <p>Welcome in the blog for <b>新世界杂货铺</b></p>
      <div align="center">
          <a class="read-more button" href="/timeline">View → </a>
      </div>
      <div align="center">
          <img alt="关注公众号：新世界杂货铺" src="https://note.youdao.com/yws/api/personal/file/WEBa3ee67b2b867e98cb5c587f4adfa6801?method=download&shareKey=0fbb95d0aec6170b854e7b890d50d559" />
      </div>
    </div> 
  </div> 

</div>

</main>



{{ end }}
